HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Visual Paradigm ###
/vp/*
!/vp/*.vpp
src/main/resources/msg_out.xml
/logs/**
#logs/archived/spring-boot-logger-2021-01-14.0.log
/.mvn/wrapper/MavenWrapperDownloader.java
